@charset "UTF-8";
/* Theme Name: Andréa Torres Lobão
Theme URI: https://torresdigital.com.br/
Template: zakra
Author: Torres Digital
Author URI: https://torresdigital.com.br/
Description: Advogada que atua na áreaTrabalhista há mais de 5 anos. Pós- graduada em direito do trabalho e processo do trabalho, MBA em Governança Corporativa, gestão de riscos e Compliance.
Tags: torresdigital.com.br
Version: 1.0.1651182984
Updated: 2022-04-28 18:56:24

License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: child theme, woocommerce.
This theme, like WordPress, is licensed under the GPL. Use it to make something cool, have fun, and share what you’ve learned with others.   */


/*All Begin*/
/*Padrao*/

body *:focus { outline-offset: none;  outline: none }

html .elementor-button-wrapper .elementor-button-link.elementor-button.elementor-size-sm:hover {
  background-color: black; color: white;}

html .tg-site-header-bottom { padding-top: 5px; padding-bottom: 5px;}

html .tg-site-header-bottom {
  padding-top: 5px;
  padding-bottom: 5px;
  height: auto;
  top: auto;
  position: relative;
}
html .tg-header-container.tg-container.tg-container--flex.tg-container--flex-center.tg-container--flex-space-between {
  position: relative;
  height: auto;
}

hmtl .main-navigation.tg-primary-menu > div ul li.tg-header-button-wrap a { border-radius: 30px; }
html .elementor-accordion p { font-size: 16px; }

html .main-navigation.tg-primary-menu > div ul li.tg-header-button-wrap a { border-radius: 30px; 
  font-weight: 600; text-shadow: 1px 1px 2px #333; }

html .main-navigation.tg-primary-menu > div ul li.tg-header-button-wrap a:hover { border-radius: 30px; font-weight: 600; text-shadow: 1px 2px 2px #333; }

#botao-whatsapp-home .elementor-button-text { text-shadow: 1px 2px 3px #262424;}
html #tg-scroll-to-top { border-radius: 30px; box-shadow: -4px 4px 7px #333; border: 2px solid #eee;}

html #tg-scroll-to-top .tg-icon { color: white;}
#tg-scroll-to-top:hover { background: black;}

html .elementor-797 .elementor-element.elementor-element-f7b9335 .elementor-accordion-item {
	border-width: 0; }

html .elementor-797 .elementor-element.elementor-element-f7b9335 .elementor-accordion-title {
  font-size: 18px;
}
.tg-page-header__title { background: #fff; padding: 0 15px; }
.menu-item.tg-header-button-wrap:hover {
  background: #b89b5e;
}
.menu-item.tg-header-button-wrap {
  border: 5px solid #e1e1e1;
  border-radius: 30px;
  text-align: center;
  font-size: 15px;
  background: #a88231;
}
.menu-item.tg-header-button-wrap a {color: #fff}

/*Head*/

/*Logo*/

/*Menu*/

/*Home*/

/*Blog*/

/*Woocommerce*/

/*Footer*/


/*BootStrap*/

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/




/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}
/* Extra Small Devices, Phones */
@media only screen and (min-width : 360px) {

}
/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}
/* Extra Small Devices, Phones */
@media only screen and (min-width : 643px) {

}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}
/* Medium Devices, iPads */
@media only screen and (max-width : 810px) {

}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}
/* Medium Devices, Desktops */
@media only screen and (min-width : 1024px) {

}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1280px) {

}



/*=====================================================
=            Bootstrap 2.3.2 Media Queries            =
=====================================================*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1280px) {

}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}
/* Medium Devices, Desktops */
@media only screen and (max-width : 1024px) {
	
	html .tg-site-header--left .tg-block--two { margin-left: 0; }
	
	html .tg-header-container.tg-container.tg-container--flex.tg-container--flex-center.tg-container--flex-space-between { max-width: 98%; margin: 0 5px; width: 100%; }
	
	html .elementor-column.elementor-col-50.elementor-inner-column.elementor-element.elementor-element-0dcc85c { margin-bottom: 12px; width: auto; position: relative; }
	
	html .elementor-797 .elementor-element.elementor-element-c3908b9 { width: 50%; }
	
	html .elementor-accordion p { font-size: 15px; }

	html .elementor-797 .elementor-element.elementor-element-d665f10 > .elementor-widget-container {
  background: red; width: auto;  margin: 0 222px; font-weight: 400; }
	
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}
/* Medium Devices, iPads */
@media only screen and (max-width : 810px) {
	
html .elementor-797 .elementor-element.elementor-element-84c9cc9 { width: 369px; max-width: auto;}
html .elementor-797 .elementor-element.elementor-element-84c9cc9 img { width: 100%; }

}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 643px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}
/* Custom, iPhone Retina */
@media only screen and (max-width : 360px) {

}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
/*
Based on:
1. http://stephen.io/mediaqueries
2. https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
*/

/* iPhone 6 in portrait & landscape */
@media only screen
    and (min-device-width : 375px)
    and (max-device-width : 667px) {

}

/* iPhone 6 in landscape */
@media only screen
    and (min-device-width : 375px)
    and (max-device-width : 667px)
    and (orientation : landscape) {

}

/* iPhone 6 in portrait */
@media only screen
    and (min-device-width : 375px)
    and (max-device-width : 667px)
    and (orientation : portrait) {

}

/* iPhone 6 Plus in portrait & landscape */
@media only screen
    and (min-device-width : 414px)
    and (max-device-width : 736px) {

}

/* iPhone 6 Plus in landscape */
@media only screen
    and (min-device-width : 414px)
    and (max-device-width : 736px)
    and (orientation : landscape) {

}

/* iPhone 6 Plus in portrait */
@media only screen
    and (min-device-width : 414px)
    and (max-device-width : 736px)
    and (orientation : portrait) {

}

/* iPhone 5 & 5S in portrait & landscape */
@media only screen
    and (min-device-width : 320px)
    and (max-device-width : 568px) {

}

/* iPhone 5 & 5S in landscape */
@media only screen
    and (min-device-width : 320px)
    and (max-device-width : 568px)
    and (orientation : landscape) {

}

/* iPhone 5 & 5S in portrait */
@media only screen
    and (min-device-width : 320px)
    and (max-device-width : 568px)
    and (orientation : portrait) {

}

/*
iPhone 2G, 3G, 4, 4S Media Queries
It's noteworthy that these media queries are also the same for iPod Touch generations 1-4.
*/

/* iPhone 2G-4S in portrait & landscape */
@media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px) {

}

/* iPhone 2G-4S in landscape */
@media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px)
    and (orientation : landscape) {

}

/* iPhone 2G-4S in portrait */
@media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px)
    and (orientation : portrait) {

}

/* iPad in portrait & landscape */
@media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)  {

}

/* iPad in landscape */
@media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation : landscape) {

}

/* iPad in portrait */
@media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation : portrait) {

}

/* Galaxy S3 portrait and landscape */
@media screen
    and (device-width: 320px)
    and (device-height: 640px)
    and (-webkit-device-pixel-ratio: 2) {

}

/* Galaxy S3 portrait */
@media screen
    and (device-width: 320px)
    and (device-height: 640px)
    and (-webkit-device-pixel-ratio: 2)
    and (orientation: portrait) {

}

/* Galaxy S3 landscape */
@media screen
    and (device-width: 320px)
    and (device-height: 640px)
    and (-webkit-device-pixel-ratio: 2)
    and (orientation: landscape) {

}

/* Galaxy S4 portrait and landscape */
@media screen
    and (device-width: 320px)
    and (device-height: 640px)
    and (-webkit-device-pixel-ratio: 3) {

}

/* Galaxy S4 portrait */
@media screen
    and (device-width: 320px)
    and (device-height: 640px)
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: portrait) {

}

/* Galaxy S4 landscape */
@media screen
    and (device-width: 320px)
    and (device-height: 640px)
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: landscape) {

}

/* Galaxy S5 portrait and landscape */
@media screen
    and (device-width: 360px)
    and (device-height: 640px)
    and (-webkit-device-pixel-ratio: 3) {

}

/* Galaxy S5 portrait */
@media screen
    and (device-width: 360px)
    and (device-height: 640px)
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: portrait) {

}

/* Galaxy S5 landscape */
@media screen
    and (device-width: 360px)
    and (device-height: 640px)
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: landscape) {

}

/* HTC One portrait and landscape */
@media screen
    and (device-width: 360px)
    and (device-height: 640px)
    and (-webkit-device-pixel-ratio: 3) {

}

/* HTC One portrait */
@media screen
    and (device-width: 360px)
    and (device-height: 640px)
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: portrait) {

}

/* HTC One landscape */
@media screen
    and (device-width: 360px)
    and (device-height: 640px)
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: landscape) {

}

/*
iPad 3 & 4 Media Queries
If you're looking to target only 3rd and 4th generation Retina iPads
(or tablets with similar resolution) to add @2x graphics,
or other features for the tablet's Retina display, use the following media queries.
*/

/* Retina iPad in portrait & landscape */
@media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (-webkit-min-device-pixel-ratio: 2) {

}

/* Retina iPad in landscape */
@media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation : landscape)
    and (-webkit-min-device-pixel-ratio: 2) {

}

/* Retina iPad in portrait */
@media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation : portrait)
    and (-webkit-min-device-pixel-ratio: 2) {

}

/*
iPad 1 & 2 Media Queries
If you're looking to supply different graphics or choose different typography
for the lower resolution iPad display, the media queries below will work
like a charm in your responsive design!
*/

/* iPad 1 & 2 in portrait & landscape */
@media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (-webkit-min-device-pixel-ratio: 1) {

}

/* iPad 1 & 2 in landscape */
@media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation : landscape)
    and (-webkit-min-device-pixel-ratio: 1) {

}

/* iPad 1 & 2 in portrait */
@media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation : portrait)
    and (-webkit-min-device-pixel-ratio: 1) {

}

/* iPad mini in portrait & landscape */
@media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (-webkit-min-device-pixel-ratio: 1) {

}

/* iPad mini in landscape */
@media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation : landscape)
    and (-webkit-min-device-pixel-ratio: 1) {

}

/* iPad mini in portrait */
@media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation : portrait)
    and (-webkit-min-device-pixel-ratio: 1) {

}

/* Galaxy Tab 10.1 portrait and landscape */
@media
    (min-device-width: 800px)
    and (max-device-width: 1280px) {

}

/* Galaxy Tab 10.1 portrait */
@media
    (max-device-width: 800px)
    and (orientation: portrait) {

}

/* Galaxy Tab 10.1 landscape */
@media
    (max-device-width: 1280px)
    and (orientation: landscape) {

}

/* Asus Nexus 7 portrait and landscape */
@media screen
    and (device-width: 601px)
    and (device-height: 906px)
    and (-webkit-min-device-pixel-ratio: 1.331)
    and (-webkit-max-device-pixel-ratio: 1.332) {

}

/* Asus Nexus 7 portrait */
@media screen
    and (device-width: 601px)
    and (device-height: 906px)
    and (-webkit-min-device-pixel-ratio: 1.331)
    and (-webkit-max-device-pixel-ratio: 1.332)
    and (orientation: portrait) {

}

/* Asus Nexus 7 landscape */
@media screen
    and (device-width: 601px)
    and (device-height: 906px)
    and (-webkit-min-device-pixel-ratio: 1.331)
    and (-webkit-max-device-pixel-ratio: 1.332)
    and (orientation: landscape) {

}

/* Kindle Fire HD 7" portrait and landscape */
@media only screen
    and (min-device-width: 800px)
    and (max-device-width: 1280px)
    and (-webkit-min-device-pixel-ratio: 1.5) {

}

/* Kindle Fire HD 7" portrait */
@media only screen
    and (min-device-width: 800px)
    and (max-device-width: 1280px)
    and (-webkit-min-device-pixel-ratio: 1.5)
    and (orientation: portrait) {

}

/* Kindle Fire HD 7" landscape */
@media only screen
    and (min-device-width: 800px)
    and (max-device-width: 1280px)
    and (-webkit-min-device-pixel-ratio: 1.5)
    and (orientation: landscape) {

}

/* Kindle Fire HD 8.9" portrait and landscape */
@media only screen
    and (min-device-width: 1200px)
    and (max-device-width: 1600px)
    and (-webkit-min-device-pixel-ratio: 1.5) {

}

/* Kindle Fire HD 8.9" portrait */
@media only screen
    and (min-device-width: 1200px)
    and (max-device-width: 1600px)
    and (-webkit-min-device-pixel-ratio: 1.5)
    and (orientation: portrait) {

}

/* Kindle Fire HD 8.9" landscape */
@media only screen
    and (min-device-width: 1200px)
    and (max-device-width: 1600px)
    and (-webkit-min-device-pixel-ratio: 1.5)
    and (orientation: landscape) {

}

/* Laptops non-retina screens */
@media screen
    and (min-device-width: 1200px)
    and (max-device-width: 1600px)
    and (-webkit-min-device-pixel-ratio: 1) {

}

/* Laptops retina screens */
@media screen
    and (min-device-width: 1200px)
    and (max-device-width: 1600px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (min-resolution: 192dpi) {

}

/* Apple Watch */
@media
    (max-device-width: 42mm)
    and (min-device-width: 38mm) {

}

/* Moto 360 Watch */
@media
    (max-device-width: 218px)
    and (max-device-height: 281px) {

}



/* 1.0 Normalize Styles based on Normalize v5.0.0 @link https: //github.com/necolas/normalize.css
@import url('https://www.fontify.me/wf/d1e0123011c04b12846e626981f6fdd4');

@import url('https://fonts.googleapis.com/css?family=Poppins');
-moz-osx-font-smoothing: grayscale; linear-gradient(to right, #58c7ec, #51ff6c)
/*20.0 Print /http://bridgelanding.app/wp-content/uploads/2017/06/logo-stick.png
